{% extends 'layout.html' %}

{% block body %}
    <div class="container" style="background-color: #8b95c9; border-radius: 6px">

        <h1 class="page-header">About Snacc.me</h1>
            <p>Hi! Welcome to snacc.me! Hope you enjoy our website!
        Clemente Ferrer and Caroline Faucette created this stunningly beautiful website.
        Clemente is a very shy coder in the computer academy.
        He enjoys long walks on the beach, coding alone at home, and listening to awful rap music through his wireless bluetooth headphones.
        Caroline enjoys talking loudly, making "the office" references, and bothering people with her stubborn opinions.
        Naturally, they were a perfect pair. This project truly all started back in May of 2016.
        Clemente and Caroline had three classes together but they barely talked.
        You could even say that Caroline found this skinny quiet kid as a bit odd.
        He probably found her a bit annoying, but that's beside the point.
        All of this changed when they were placed in the same group for their final project in computer science class.
        Clemente and Caroline owe their blossoming friendship to their amazing (and crazy) teacher, Mr.Wright, who had a great idea to put them in a group together.
        Well, at the beginning, this duo didn't get along. Clemente slacked and Caroline nagged.
        They had another group member, but we don't talk about him.
        After a short while, their final project was due and they had almost nothing done.
        So, you can understand Caroline's frustration.
        However, just 3 months later, by the way summer break is WAY too short, they were back in school again.
        They had three classes together which was beneficial to Caroline because she always needs help.
        So, they rekindled a friendship and it grew stronger as they spent more and more time together.
        They made "the office" and "parks and rec" jokes together, they laughed, they cried, they faced the world as a team.
        So, when their new computer teacher, Mr. Williams, told them that there would be a final project and you can work in partners, they knew it was meant to be. And so the process of creating snacc.me began.
        They argued over the idea for sometime, about 15 minutes actually, and finally decided on snacc.me.
        This website was made to defy social media norms and discover your love for snacks without the stress over likes and followers.
        Clemente and Caroline love how the website turned out so please enjoy and post about your snacks because you look like you need a snack!</p>
    </div>
{% endblock %}

<!--Hi! Welcome to snacc.me! Hope you enjoy our website!
        Clemente Ferrer and Caroline Faucette created this stunningly beautiful website.
        Clemente is a very shy coder in the computer academy.
        He enjoys long walks on the beach, coding alone at home, and listening to awful rap music through his wireless bluetooth headphones.
        Caroline enjoys talking loudly, making "the office" references, and bothering people with he stubborn opinions.
        Naturally, they were a perfect pair. This project truly all started back in May of 2016.
        Clemente and Caroline had three classes together but they barely talked.
        You could even say that Caroline found this skinny quiet kid as a bit odd.
        He probably found her a bit annoying, but that's beside the point.
        All of this changed when they were placed in the same group for their final project in computer science class.
        Clemente and Caroline owe their blossoming friendship to their amazing (and crazy) teacher, Mr.Wright, who had a great idea to put them in a group together.
        Well, at the beginning, this duo didn't get along. Clemente slacked and Caroline nagged.
        They had another group member, but we don't talk about him.
        After a short while, their final project was due and they had almost nothing done.
        So, you can understand Caroline's frustration.
        However, just 3 months later, by the way summer break is WAY too short, they were back in school again.
        They had three classes together which was beneficial to Caroline because she always needs help.
        So, they rekindled a friendship and it grew stronger as they spent more and more time together.
        They made "the office" and "parks and rec" jokes together, they laughed, they cried, they faced the world as a team.
        So, when their new computer teacher, Mr. Williams, told them that there would be a final project and you can work in partners, they knew it was meant to be. And so the process of creating snacc.me began.
        They argued over the idea for sometime, about 15 minutes actually, and finally decided on snacc.me.
        This website was made to defy social media norms and discover your love for snacks without the stress over likes and followers.
        Clemente and Caroline love how the website turned out so please enjoy and post about your snacks because you look like you need a snack!-->