{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron" style="background-color: #8b95c9">
      <div class="container">
        <h1 class="text-center">Welcome to BBOnline</h1>
        <p class="text-center">Oakland Tech's Isolated Economy</p>
        {% if session.logged_in == NULL %}
          <div class="row">
            <div class="col-md-2"></div>
            <a href="/login"  class="btn btn-success btn-lg center-block col-md-3" style="background-color: #444b6e">Login</a>
            <div class="col-md-2"></div>
            <a href="/register" class="btn btn-primary btn-lg center-block col-md-3" style="background-color: #444b6e">Register</a>
            <div class="col-md-2"></div>
          </div>
        {% endif %}
      </div>
    </div>

{% endblock %}

